{% extends 'master.html' %}
{% block content %}

<div class="help">
<h2>Seedlings help</h2>
<p>On this page you'll find help for the game Seedlings</p>

<h3>What is Seedlings?</h3>
<p>Seedlings is an example game made by <a href="https://playerio.com/" target="pio">Player.IO</a> to showcase 
their <a href="https://playerio.com/features/sitebox/" target="pio">Sitebox</a> service for easily building Facebook Games.

<h3>Can i play it?</h3>
<p>Sure, but the game has limited content and it's main function is not to provide hours and hours of fun gameplay, but rather to showcase that fully-featured Facebook Games can easily be built with <a href="https://playerio.com/features/sitebox/" target="pio">Sitebox</a>.
</div>

{% end %}