<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Mono.Options" version="1.1.0" targetFramework="net45" userInstalled="true" />
  <package id="NAudio" version="1.7.3" targetFramework="net45" userInstalled="true" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net45" userInstalled="true" />
  <package id="NVorbis" version="0.8.4" targetFramework="net45" userInstalled="true" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net45" userInstalled="true" />
</packages>