@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Product Redeemed";
}

<h1>Your product has been redeemed!</h1>
<h3>(It's now on your <a href="/Account/Owned">account page</a>.)</h3>
