@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
// ViewBag.Title = "Home Page";
}

<script language="javascript" type="text/javascript">
    var progNames = {
        "MPTK": "MP Tanks 2D",
        "MPPA": "MP Tanks 2D Premium Addon"
    }

    function onChange() {
        var msg = document.getElementById("message_name");
        var key = document.getElementById("product_key");

        //upper case and remove hyphens
        key.value = key.value.toUpperCase().replace(/-/g, '');
        //Remove invalid characters
        key.value = key.value.replace(/[^A-Za-z0-9]/g, '');
        //auto insert hyphens
        key.value = key.value.match(/.{1,4}/g).join('-');


        if (key.value.replace(/-/g, "").length > 24) {
            msg.style.color = "red";
            msg.innerText = "Key too long!";
        }
        else if (key.value.length >= 4) {
            var prog = progNames[key.value.substring(0, 4)];
            if (prog == undefined) {
                msg.style.color = "red";
                msg.innerText = "Invalid key!";
            }
            else {
                msg.style.color = "gray";
                msg.innerText = prog;
            }

        }
        else {
            msg.innerText = "";
        }
    }
</script>

<h1 style="text-align:center">Redeem a product</h1>
<br />
<div class="col-md-6 col-md-offset-3">
    <form class="form-inline" method="post">
        <div class="input-group" style="width:100%">
            <span class="input-group-addon">Product Key</span>
            <input id="product_key" class="form-control" onkeyup="onChange()" style="min-width:100%" type="text" name="ProductKey" placeholder="24 characters, hyphens not needed" value="@ViewBag.ProductKey" />
        </div>
        <span style="color:gray" id="message_name"></span>
        <br />
        <input class="btn btn-default" style="min-width:100%" type="submit" value="Redeem product key" />
    </form>
    <hr />
    @if (ViewBag.Error)
    {
        <div class="alert alert-danger">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            @Html.Raw(ViewBag.Message)
        </div>
    }
</div>

<div class="clearfix"></div>