@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Account Created";
}

<h1>Your account has been created</h1>
<h3>@Html.Raw(ViewBag.Message)</h3>