<meta http-equiv="refresh" content="0;URL=@ViewBag.RedirectTo" />

<h4>Redirecting you to your destination. If you are not redirected within 5 seconds, click <a href="@ViewBag.RedirectTo">here</a>.</h4>