@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "404: It's your fault!";
}

<h1 style="font-size:72px;text-align:center">Oh noes!</h1>
<h2 style="text-align:center">Aliens must've abducted the page you're looking for! We can't find it anywhere! You can always check <a href="https://google.com/search?q=site:zsbgames.me">area 51</a> for it.</h2>
<h5 style="text-align:center">But, you'll never find it. Everyone knows the aliens are in <a href="http://www.bing.com/search?q=site:zsbgames.me">area 52</a>.</h5>