<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EmptyKeysUI" version="1.7.5" targetFramework="net45" userInstalled="true" />
  <package id="FarseerPhysics.Portable" version="3.5.1" targetFramework="net4" userInstalled="true" />
  <package id="MonoGame.Framework.WindowsDX" version="3.4.0.459" targetFramework="net45" userInstalled="true" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net45" userInstalled="true" />
  <package id="NLog" version="4.0.1" targetFramework="net45" userInstalled="true" />
</packages>