@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Disavow account";
}

<h1>Account Disavow</h1>
<h3>We just want to make sure you meant to click the disavow button. If you click (or tap) below, the account will be irrecoverably deleted.</h3>

<form method="post">
    <input class="btn btn-primary" type="submit" value="Disavow and delete account" />
</form>