@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Forgot password";
}

<h1 style="text-align:center">Forgot your password?</h1>
<h3>Enter a new one now:</h3>
<h3>But, before you do, check that this is actually https://www.zsbgames.me</h3>

<hr />
<div class="col-md-6 col-md-offset-3">
    <form class="form-inline" method="post">
        <div class="input-group" style="width:100%">
            <span class="input-group-addon" id="basic-addon1">New password</span>
            <input class="form-control" style="min-width:100%" type="password" name="Password" placeholder="Choose something secure" value="@ViewBag.Password" />
        </div>
        <br />
        <div class="input-group" style="width:100%">
            <span class="input-group-addon" id="basic-addon1">Confirm</span>
            <input class="form-control" style="min-width:100%" type="password" name="ConfirmPassword" placeholder="Same as above" value="@ViewBag.ChangePassword" />
        </div>
        <br />
        <input class="btn btn-default" style="min-width:100%" type="submit" value="Change my password" />
    </form>
    <hr />
    @if (ViewBag.Error)
    {
        <div class="alert alert-danger">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            @Html.Raw(ViewBag.Message)
        </div>
    }
</div>