@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Password changed";
}


<h1>Your password has been changed</h1>
<h3>@Html.Raw(ViewBag.Message)</h3>